<!DOCTYPE html>
<html>
  <head>
    <title>Notas de Voz</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="module" src="../public/js/main.js"></script>
  </head>
  <body>
    <h1>Notas de Voz</h1>
    <p>Sistemas Web (2023-2024)</p>
    <br>
    <button id="startPauseBtn">Start Recording</button>
    <button id="stopBtn" disabled>Stop Recording</button>
    <br>
    <audio id="audioPlayer" controls></audio>
  </body>
</html>
